.info {
    margin-top: 76px;

    width: 729px;
    height: 186px;
    border-radius: 15px;
    border: 2px solid black;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 51px;

    &__containers {
        width: 191px;
        height: 108px;
        border: 1px solid black;
        border-radius: 15px;
    }
}