<div class="institution">
  <div class="institution__absolute">סטטוס מוסד</div>

    <img src="images/download.svg" alt="download">

    <div class="institution__filter" *ngIf="filter$ | async as filter">
        <div class="institution__filter__containers"    [ngClass]="'institution__filter__containers--' + i"    *ngFor="let item of filter; let i = index">
            <p>{{item.name}}</p>
        </div>
    </div>

    <table class="institution__table">
        <tr>
            <th>סטטוס מילוי שאלון</th>
            <th>שם המוסד</th>
            <th>סמל מוסד</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </table>
</div>
